.home{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background: url(/img/bg.png);
    background-size: cover;
}

h3{
    color: #FFF9F9; 
    font-family: 'Poppins', sans-serif; 
    font-size: 25px; 
    
}

.boton{
    color: #FFF9F9; 
    font-family: 'Poppins', sans-serif; 
    font-size: 20px; 
    text-decoration: none;
}

.navbar {
    width: 100%;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

nav a {
    margin: 0 30px; /* Espacio entre los enlaces */
}
.enlace{
    list-style-type: none; 
}

.logo{
    width: auto;
    height: 100px;
}

footer {
    background-color: #2B64A1;
    color: #fff;
    padding: 50px;
    text-align: center;
    border-top: 2px solid #fff; /* Borde superior */
    margin-top: 50px; /* Margen superior */
    display: flex; /* Establece el contenedor del footer como un contenedor de flexbox */
    justify-content: space-between; /* Distribuye el espacio entre las columnas */
    flex: 1; /* Hace que las columnas ocupen un espacio igual dentro del contenedor de flexbox */
    padding: 10px; /* Añade espacio alrededor del contenido de cada columna */
}

.redes{
    list-style-type: none; 
}

#faqShow {
    background-color: transparent; 
    border: none; 
    color: #FFF9F9; 
    cursor: pointer; 
    padding: 0; 
    font-family: 'Poppins', sans-serif; 
    font-size: 20px; 
}
#terShow {
    background-color: transparent; 
    border: none; 
    color: #FFF9F9; 
    cursor: pointer; 
    padding: 0; 
    font-family: 'Poppins', sans-serif; 
    font-size: 20px; 
}
#dataShow {
    background-color: transparent; 
    border: none; 
    color: #FFF9F9; 
    cursor: pointer; 
    padding: 0; 
    font-family: 'Poppins', sans-serif; 
    font-size: 20px; 
}

#dialog {
    background-color: rgba(82, 167, 93, 0.4); 
    border: 5px solid #2B64A1;
}

#dialog h1 {
    color: #2B64A1; 
}

#dialog summary,
#dialog p {
    color: black;
}

#dialog button {
    background-color: #2B64A1; 
    color: white; 
}